<head>
    <link rel="stylesheet" href="/stylesheets/user-profile.css" />
</head>

<div class="profile-container">

<h1>Hello {{user.username}}!</h1>
<hr>
{{#if isRoaster}}
<div class="container roaster-section">
<h2>Manage business account   ☕</h2>
  <div class="row mt-5">
    <div class="col-8">
      {{#if user.roaster}}
      <div class="row my-business-card">
         <div class="col">
           <img src="{{user.roaster.logo}}">
         </div>
         <div class="col align-self-center">
           <h3>{{user.roaster.name}}</h3>
           <p>{{user.roaster.location.city}}, {{user.roaster.location.country}}</p>
           <a href="/roasters/detail/{{user.roaster._id}}">See Details</a>
          </div>
      </div>
      {{else}}
      <div class="help-section">
        <p>You haven't created a roaster profile yet!</p>
        <p>Click on the buttons to create a profile and then create your coffees pages!</p>
    </div>
      {{/if}}
    </div>

    <div class="col-3 d-flex flex-column">
      <a href="/roasters/create-roaster" class="btn">Create Roaster Profile</a>
      <a href='/roasters/edit-roaster/{{user.roaster._id}}' class="btn">Edit Roaster Profile</a>
      <a href="/coffees/create-coffee" class="btn">Add a new Coffee</a>
    </div>
  </div>
</div>

<hr>
{{/if}}
<div class="favorites-row">
<h2>Your Favorite Coffees 💛</h2>
    {{#if user.favoriteCoffees}}

    <div class="container favorites-listing">
        <div class="row gy-5">
          {{#each user.favoriteCoffees}}
          <div class="col-sm col-lg-3">
            {{> coffeecard}}
          </div>
          {{/each}}
        </div>
    </div>
    {{else}}
    <div class="help-section">
    <p>You don't have any favorite coffee yet!</p>
    <p>Take the quiz and discover coffees according with your taste.</p>
    <a href="/quiz" class="btn">Take Quiz</a>
    </div>

    {{/if}}
    
</div>

</div>



