<h2>See all roasters</h2>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm">
      <form action='/roaster-search' method='GET'>
        <div class="form-group">
            <label for="roasterNameInput">Roaster Name</label>
            <input type="text" name="name" class="form-control" id="roasterNameInput">
        </div>
        <div class="form-group">
            <label for="countryInput">Country</label>
            <input type="text" name="country" class="form-control" id="countryInput">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="col-lg-9 col-sm">
      <div class="container">
        <div class="row gy-5">
          {{#each roastersList}}
          <div class="col-sm col-lg-4">
            <div class="listing-card">
              <div class="card-img" style="background-image: url({{this.logo}})"></div>
              <div class="card-info">
                <h3>{{this.name}}</h3>
                <p>{{this.location.city}}, {{this.location.country}}</p>
                <a href="/roasters/detail/{{this._id}}">See Details</a>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
