<h2>Roaster Details</h2>
<div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm">
      <img src="{{oneRoaster.logo}}" alt="roaster logo" width="300px">
    </div>
    <div class="col-lg-8 col-sm">
        <h3>{{oneRoaster.name}}</h3>
        <p><strong>Country: </strong>{{oneRoaster.location.country}}</p>
        <p><strong>City: </strong> {{oneRoaster.location.city}}</p>
        <p><strong>Description: </strong> {{oneRoaster.description}}</p>
        <p><strong>Coffees: </strong>{{oneRoaster.coffees}}</p>
        <a href="{{oneRoaster.website}}">Website</a>
    </div>
  </div>
</div>
  <a href='/roasters/edit-roaster/{{oneRoaster._id}}'>Edit Roaster</a><br>
  <form action='/roasters/detail/{{oneRoaster._id}}/delete' method='POST'>
    <button type='submit' class="btn-link">Delete</button>
  </form>
  <form action='/roasters/detail/{{oneRoaster._id}}/claim-my-business' method='POST'>
    <button type='submit' class="btn-link">Claim My Business</button>
  </form>
  <a href='javascript:history.back()'>Back</a>
</div>