<h2>Coffee Details</h2>
<div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm">
      <form action='/coffees/detail/{{oneCoffee._id}}/add-favorite' method='POST'>
        <button type='submit' class="favorite-btn"><span class="favorite-button-icon fa fa-heart-o"></span></button>
      </form>

    {{!-- error message display: --}} 

      {{#if errorMessage}}
        <div class="error-message">{{ errorMessage }}</div>
      {{/if}}

      <img src="{{oneCoffee.image}}" alt="coffee image" width="300px">
    </div>
    <div class="col-lg-8 col-sm">
        <h3>{{oneCoffee.name}}</h3>
        <p><strong>Process: </strong>{{oneCoffee.process}}</p>
        <p><strong>Origin Country: </strong> {{oneCoffee.originCountry}}</p>
        <p><strong>Variety: </strong>{{oneCoffee.variety}}</p>
        <p><strong>Roast Type: </strong>{{oneCoffee.roastType}}</p>
        <p><strong>Flavor: </strong>{{oneCoffee.flavor}}</p>
        <p><strong>Roaster: </strong>{{oneCoffee.roaster.name}}</p>
    </div>
  </div>
</div>
  <a href='/coffees/edit-coffee/{{oneCoffee._id}}'>Edit Coffee</a><br>
  <form action='/coffees/detail/{{oneCoffee._id}}/delete' method='POST'>
    <button type='submit' class="btn-link">Delete</button>
  </form>
  <a href='javascript:history.back()'>Back</a>
</div>