<head>
    <link rel="stylesheet" href="/stylesheets/details-view.css" />
</head>

<div>
<div class="container">
  <div class="row align-items-end">
           <h1>{{oneCoffee.name}}</h1>
   {{#if user}}  
      {{#if isFavorite}}
      <form action='/coffees/detail/{{oneCoffee._id}}/add-favorite' method='POST'>
        <button type='submit' class="favorite-btn"><span class="favorite-button-icon fa fa-heart fa-lg"></span>Remove from favorites</button>
      </form>
      {{else}}

      <form action='/coffees/detail/{{oneCoffee._id}}/add-favorite' method='POST'>
      <button type='submit' class="favorite-btn"><span class="favorite-button-icon fa fa-heart-o fa-lg"></span>Add to Favorites</button>
      </form>

      {{/if}}
   {{/if}}

    <div class="col-lg-4 col-sm">

      <img src="{{oneCoffee.image}}" alt="coffee image" width="300px">
    </div>
    <div class="col-lg-8 col-sm">
        <p class="text-capitalize"><strong>Process: </strong>{{oneCoffee.process}}</p>
        <p><strong>Origin Country: </strong> {{oneCoffee.originCountry}}</p>
        <p class="text-capitalize"><strong>Variety: </strong>{{oneCoffee.variety}}</p>
        <p class="text-capitalize"><strong>Roast Type: </strong>{{oneCoffee.roastType}}</p>
        <p><strong>Flavor: </strong>{{oneCoffee.flavor}}</p>
        <p><strong>Roaster: <a href="/roasters/detail/{{oneCoffee.roaster._id}}">{{oneCoffee.roaster.name}}</a></p></strong>
    </div>
  </div>
</div>
 {{#if user}}
<div class="btn-row">
  {{#if isRoaster}}
  <a href='/coffees/edit-coffee/{{oneCoffee._id}}' class="btn">Edit Coffee</a><br>
  <form action='/coffees/detail/{{oneCoffee._id}}/delete' method='POST'>
    <button type='submit' class="btn">Delete</button>
  </form>
  {{/if}}
  <a href='javascript:history.back()' class="btn">Back</a>
</div>
{{/if}}